<h3 class="ui header">{{t "forms.i-i-s-proektirovanie-поставщик-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-proektirovanie-поставщик-e.фИО-caption")
      data-test-i-i-s-proektirovanie-поставщик-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.регион
      class=(if (v-get validationModel "регион" "isInvalid") "error")
      label=(t "forms.i-i-s-proektirovanie-поставщик-e.регион-caption")
      data-test-i-i-s-proektirovanie-поставщик-e-регион=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "регион" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.адрес
      class=(if (v-get validationModel "адрес" "isInvalid") "error")
      label=(t "forms.i-i-s-proektirovanie-поставщик-e.адрес-caption")
      data-test-i-i-s-proektirovanie-поставщик-e-адрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "адрес" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationModel "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-proektirovanie-поставщик-e.иНН-caption")
      data-test-i-i-s-proektirovanie-поставщик-e-иНН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "иНН" "message")}}
  </div>
</form>
